@model IEnumerable<ASPNETCore_Nhom13.Models.TinTuc>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TieuDe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoiDung)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayDang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrangThai)
            </th>
            <th>
                Duyet
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TieuDe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoiDung)
            </td>
            <td>
                <img src="~/Hinh/@item.Hinh" alt="Alternate Text" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayDang)
            </td>
            @if (item.TrangThai == false)
            {
                <td>Chua duyet</td>
            }
            else
            {
                <td>Da duyet</td>
            }
            <td>
                <a asp-action="DuyetBai" asp-route-matin="@item.MaTin">Duyet</a>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaTin">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaTin">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaTin">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
